.gameBoard-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bluegray-light);
}

.playerPanels {
  max-width: 25%;
  flex-grow: 1;
  display: flex;
  max-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.board {
  flex-grow: 2;
  display: flex;
  align-items: center;
}
