.gameBoard-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  width: 100%;
  height: 100vh;
}

.playerPanels {
  border: 1px solid black;
  height: 100%;
  max-width: 25%;
  flex-grow: 1;
}

.board {
  flex-grow: 2;
}
