.fields-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.singleField {
  position: absolute;
  border: 2px solid;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-wrapper {
  width: 100%;
  height: 100%;
}

.pawn {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.value-from-dice-wrapper {
  position: absolute;
}
.value-from-dice {
  position: absolute;
  top: 5px;
  left: 25px;
  font-size: 40px;
  font-weight: bolder;
}
