.fields-container {
  position: relative;
  width: 100%;
  display: flex;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(208, 217, 221, 1) 70%
  );
}

.singleField {
  position: absolute;
  border: 2px solid;
  border-radius: 25%;
  transform: translate(40%, 10%);
}

.pawn {
  position: absolute;
  width: 65%;
  height: 65%;
  box-shadow: 0 0 10px var(--bluegray-dark);
  border-radius: 50%;
  cursor: pointer;
  translate: 25% 25%;
  border: 2px dashed white;
}
