.playerPanel {
  display: flex;
  flex-direction: column;
}
.player-name {
  font-family: "Gang of Three";
  font-size: 4rem;
  border: 5px dashed;
  padding: 10px 10px;
  border-radius: 10px;
}

.dice-wrapper {
  position: relative;
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
