.playersSetup-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  gap: 0.5rem;
  background: var(--bluegray-medium);
  height: 100vh;
  color: var(--bluegray-font);
  padding: 0 3rem;
}
.header {
  letter-spacing: 5px;
  font-family: "Gang of Three";
  font-size: 2.5rem;
}

.playersSetup-forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
