.playersSetup-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 1.5rem;
  background: var(--bluegray-medium);
  min-height: 100vh;
  color: var(--bluegray-font);
  padding: 1rem 10rem;
  font-family: "Gang of Three";
  letter-spacing: 5px;
}

.header {
  text-align: center;
  font-size: 3rem;
}

.playersSetup-forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 3rem;
}
