* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  --bluegray-font: hsl(200, 19%, 18%);
  --bluegray-dark: hsl(200, 18%, 26%);
  --bluegray-shadow: hsl(200, 18%, 46%);
  --bluegray-medium: hsl(200, 15%, 73%);
  --bluegray-light: hsl(198, 16%, 84%);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Gang of Three";
  src: local("gang-of-three.regular"),
    url("./fonts/gang-of-three.regular.ttf") format("truetype");
}
