.playerSetup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max(30vw, 300px);
  height: max(20vh, 200px);
  padding: 7rem 0;
  gap: 2rem;
  background-color: var(--bluegray-light);
  box-shadow: 3px 7px 20px var(--bluegray-shadow);
  border-radius: 20px;
  border: 6px double var(--bluegray-medium);
}

.playerSetup-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.playerSetup-text {
  font-size: 2rem;
}

.playerSetup-input {
  width: 50%;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid var(--bluegray-dark);
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 2px;
  font-family: inherit;
  background-color: var(--bluegray-light);
}

.playerSetup-title {
  font-size: 1rem;
  letter-spacing: 5px;

  text-align: center;
}

select {
  width: 7rem;
  height: 40px;
  padding: 3px;
  border-radius: 10px;
  border: 2px solid var(--bluegray-dark);
  cursor: pointer;
  appearance: none;

  letter-spacing: 2px;
  font-family: "Gang of Three";
  font-size: 100%;
  background-color: var(--bluegray-light);
  text-align-last: center;
}
